@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@font-face {
  font-family: "utm_bryantlgregular";
  src: url(../assets/fonts/utm_bryantlg-webfont.woff2) format("woff2"),url(../assets/fonts/utm_bryantlg-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  }

$font_Open_Sans: "Open Sans", sans-serif;
$font_UTM: "utm_bryantlgregular";
$green_color: #B2D235;
$white_color: #fff;
$black_color: #000;
$darkblue_color: #11114E;
$border_color: #E5E5E5;
$button_outline: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$white_bg_color: #fefbfb;
$text_navbar: #505353;
$grey_color: #e5e5e5;
